.info{
    width: 100%;
    height: 20rem;
    background: linear-gradient(90deg, rgb(13, 0, 88), rgb(32, 1, 32));
    color: white;
    padding: 0 10%;
    text-align: center;
    box-sizing: border-box;
}

.info h1{
    padding-top: 4rem;
}
article{
    width: 100%;
    /* height: 37rem; */
    padding: 2rem 10%;
    
    display: flex;
    font-size: 1.2rem;
    letter-spacing: 1px;


}
#blogs{
    width: 15%;
    background-color: transparent;
    padding: 10px;
}

#detail{
    width: 70%;
    padding: 10px;
    text-align: justify;
}

#category{
    width: 15%;
    background-color: transparent;
    padding: 10px;
    
}

