.welcome{
    background: url(media/background-3881393_1920.jpg);
    margin-top: 10%;
    padding: 5%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.welcome p {
    color: whitesmoke;
}
/* css rules for project section  */

.outer{
    width: 75%;
    margin: 0px auto 5rem auto;

}
.cardProject{
    justify-content: space-between;
    align-items: center;
    
}

.cardProject img{
    width: 40%;
    border: 2px solid black;
}

.cardProject .con{
    width: 500px;
}

.cardProject .con p{
    text-align: justify;
}